<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2>Sign up for an account:</h2>
<form method="post" th:action="@{/user}">
    <div class="form-group">
        <label>Username
            <input type="text" name="username" class="form-control" th:value="${username}">
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input type="email" name="email" class="form-control" th:value="${email}">
        </label>
    </div>
    <div class="form-group">
        <label>Password
            <input type="password" name="password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input type="password" name="verifyPassword" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="Create Profile" class="btn btn-success">
    </div>
</form>
</body>
</html>